@model BookingApp.WEB_MVC.Models.Binding.MainSearchBind

@{
    ViewBag.Title = "SearchPage";
}

@Scripts.Render("~/bundles/scipts")
@Scripts.Render("~/bundles/datepicker")

@using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "results", HttpMethod="Post"}))
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <br />
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            <h5 class="alert-heading">Не правильний ввід</h5>
            @Html.ValidationSummary(false)
        </div>
    }
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h2>Input departure station</h2>
                @Html.TextBoxFor(x => x.From, new { @class = "form-control", dataAutocompleteSource = @Url.Action("AutocompleteSearch", "Home") })
            </div>
            <div class="col-md-4">
                <h2>Input arrival station</h2>
                @Html.TextBoxFor(x => x.To, new { @class = "form-control", dataAutocompleteSource = @Url.Action("AutocompleteSearch", "Home") })
            </div>
            <div class="col-md-4">
                <h2>Сhoose date</h2>
                <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @readonly = true })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Departure time from</h2>
                @{
                    List<string> time24hr = new List<string>();
                    DateTime myDate = DateTime.ParseExact("2000-05-08 00:00", "yyyy-MM-dd HH:mm",new System.Globalization.CultureInfo("en-UA"));
                    for (int i = 0; i < 24; i++)
                    {
                        string strtime = myDate.AddHours(i).ToString("hh:mm tt");
                        time24hr.Add(strtime);
                    }
                }        
                @Html.DropDownListFor( Model => Model.StartTime, new SelectList(time24hr), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="left-buffer">
            <div class="mainseachDiv">
                <input class="btn btn-primary text-center mainseach" type="submit" value="Search">
            </div>
        </div>
    </div>
    <div id="results"></div>
    <script>
        $(function () {
            var date = new Date();
            date.setDate(date.getDate());
            $("#datepicker").datepicker({
                startDate: date, 
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());
        });
        $(function () {
            $("[dataAutocompleteSource]").each(function () {
                var target = $(this);
                target.autocomplete({
                    source: target.attr("dataAutocompleteSource"),
                    autoFocus: true,
                    change: function (event, ui) {
                        if (ui.item == null) {
                            $(this).val((ui.item ? ui.item.id : ""));
                        }
                    }
                });
            });
        });
    </script>
}
