@using BookingApp.WEB_MVC.Helpers
@using BookingApp.WEB_MVC.Models
@model TripViewModel<SearchTripViewModel>

@{
    ViewBag.Title = "Search Page";
}

@Scripts.Render("~/bundles/scipts")

<br />
@if (!Model.Models.Any())
{
    <h3 class="text-primary text-center">Жодних поїздок не знайдено</h3>
}
else
{
    <table id="searchresults" class="mainTable table">
        @{var dummy = Model.Models.FirstOrDefault(); }
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummy.Train)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Route)
            </th>
            <th>
                @Html.DisplayWithBreaksFor(model => dummy.DepartureTime)
            </th>
            <th>
                @Html.DisplayWithBreaksFor(model => dummy.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.FreeSeats)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Models)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Train)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route)
                </td>
                <td>
                    @item.DepartureTime.ToShortDateString()<br />
                    @item.ArrivalTime.ToShortDateString()
                </td>
                <td>
                    @item.DepartureTime.ToString("hh:mm tt")<br />
                    @item.ArrivalTime.ToString("hh:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    <div class="btn-group-vertical ">
                        @{
                            foreach (var type in item.FreeSeats)
                            {
                                using (Ajax.BeginForm("Booking", new AjaxOptions { HttpMethod = "Post" }))
                                {
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <input type="hidden" name="Train" value="@item.Train" />
                                    <input type="hidden" name="Route" value="@item.Route" />
                                    <input type="hidden" name="DepartureTime" value="@item.DepartureTime" />
                                    <input type="hidden" name="ArrivalTime" value="@item.ArrivalTime" />
                                    <input type="hidden" name="Duration" value="@item.Duration" />
                                    <input type="hidden" name="Car" value="@type.Car" />
                                    <input type="hidden" name="Count" value="@type.Count" />
                                    <input type="hidden" name="From" value="@Model.Bind.From" />
                                    <input type="hidden" name="To" value="@Model.Bind.To" />
                                    <input type="hidden" name="Date" value="@Model.Bind.Date" />
                                    <input class="btn btn-primary btn-xsh carseatwith" type="submit"
                                           value="@String.Format("{0} : {1}",type.Car, type.Count)" />
                                }

                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
    <br />
}