@using BookingApp.WEB.Helpers
@using BookingApp.WEB.Models
@model IndexViewModel<SearchTripViewModel>

@{
    ViewBag.Title = "Search Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Input departure station</h2>
       
        </div>
        <div class="col-md-4">
            <h2>Input arrival station</h2>
  
        </div>
        <div class="col-md-4">
            <h2>Сhoose date</h2>
        

        </div>
    </div>
</div>
<table class="mainTable table">
    @{var dummy = Model.Models.FirstOrDefault(); }
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Train)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Models)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Train)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @item.DepartureTime.ToShortDateString()<br />
                @item.ArrivalTime.ToShortDateString()
            </td>
            <td>
                @item.DepartureTime.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-UA"))<br />
                @item.ArrivalTime.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-UA"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Search", new { page = x }))
</div>
